@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body {
    margin: 0;
    font-family: Roboto, sans-serif;
    display:flex;
    flex-direction: column;
}

.header-container, .footer, .hero-container {
    background-color: #1F2937;
}

/* Headers */
.header-container {
    display: flex;
    justify-content: space-between;
}


ul {
    list-style-type: none;
    display: flex;
}
li {
    padding-left: 16px;
}

/* Hero */
img {

}


h1 {
    font-size: 3rem;
    color: #f9faf8;
    font-weight: 900;
}

p {
    font-size: 18px;
    color: #e5e7eb;
}
/* Cards */

/* Call-to Action */

/* Footer */
